body{
    padding-top: 41px;
}

.carousel{
    min-height: 420px;
    margin-bottom: 50px;
}

.carousel-caption{
    z-index: 10;
    text-align: left;
    top: 20px;
    right: 10%;
    left: 10%;
    font-size: 22px;
}

.carousel .item{
    height: 420px;
    background-color: #e7e7e7;
}

.carousel-inner > .item > img{
    position: absolute;
    top: 10px;
    left: 0;
    min-width: 100%;
    height: 420px;
}

.feature-list {
    list-style: none;
}

.ad-image{
    padding-top: 80px;
    width: 100%;
}

.addUser{
    padding-top: 50px;
}

footer{
    margin-bottom: 50px;
}
